<div class="col-md-4 pl-4">
  <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
  <%= @articles.each do |popular|%>
    <ol class="list-featured">
        <li>
          <span>
            <h6 class="font-weight-bold">
              <a href="./article.html" class="text-dark"><%= popular.title.titleize %></a>
            </h6>
            <p class="text-muted">
              <%= popular.body %>
            </p>
          </span>
        </li>
    </ol>
  <% end %>
</div>
