<%= render partial: "main_box" %>

<%= render partial: "articles_index" %>

    <%
=begin%>
 <%= render partial: "all_stories" %>
<%
=end%>
<div class="container">
	<div class="row justify-content-between">
    <br>
    <%= render partial: "popular_articles" %>
	</div>
</div>
