<%= render partial: "main_box" %>

<%= render partial: "articles_index" %>

<div class="container">
	<div class="row justify-content-between">
    <br>
    <%= render partial: "all_stories" %>
    <%= render partial: "popular_articles" %>
	</div>
</div>
