<!DOCTYPE html>
<html>
<head>
  <title>Tech Tarzons</title>
  <!-- Add your stylesheets and other meta tags here -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tech Tarzons</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: 'nav-link' %>
      </li>
      <!-- Add more navigation links as needed -->
    </ul>
  </div>
</nav>

<%= yield %>

<!-- Add your JavaScript and other scripts here -->
</body>
</html>
